{% extends 'layout.html' %}
{% block container %}
<div class="ui container">
  <h1 class="ui header">Meals</h1>
  <button class="ui olive button">My meal</button> 
  <div class="top-pad">
    {% for meal in meals %}
     <a href="./{{ meal.id }}">{{meal.id }} : {{meal.name}}</a>
    <br>
    {% endfor %}
  </div>
  <div>
    <button onclick="location.href='/meals/new'" >글쓰기</button>
  </div>

    <form class="ui form" id="search-form" method="GET" action="/meals/search">
    <div>
      <div id="search-title">
        Search keyword
        <input type="hidden" name="lat" id="lat">
        <input type="hidden" name="lon" id="lon">
      </div>
      <div id="search-body">
        <input id="search-input" name="search-input" type="text" placeholder="키워드 검색으로 찾아보세요">
      </div>
    </div>
  </form>
</div>
{% endblock %}
